body {
  margin: 0;
  padding: 0;

  min-height: 100vh;
  background-color: $color-brand-main;
  color: $color-white;
/*
  @include mq(small) {
    background-color: red;
  }
  @include mq(medium) {
    background-color: green;
  }*/
}