.c-galleries__list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 24px;

  & > li:not(:last-child){
    margin-bottom:pix2rem(18px);
  }

  @include mq(medium){
    & > li:not(:last-child){
      margin-bottom:pix2rem(12px);
    }
  }
}

.c-galleries__main-title{
  margin-bottom: pix2rem(24px);
}

.c-galleries__gallery-title{
  margin-top: pix2rem(24px);
  margin-bottom: pix2rem(12px);
  line-height: div(30, 27);
}

.c-galleries__gallery-intro > p{
  margin: 0;
}

.c-galleries__list-item{
  & p{
    margin-top: 0;
    margin-bottom: 24px;
  }
}

.c-galleries__rubric-title{
  margin-bottom: pix2rem(6px);
}

