.c-navmenu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: pix2rem(30px) pix2rem(24px) ;
  background-color: $color-brand-main;
  z-index: 999;

  transform: translate3d(0, -100vh, 0);
  transition: transform 0.5s ease-in-out;

  @include mq(medium){
    padding: pix2rem(72px) pix2rem(60px);
  }

  @include mq(large){
    padding-left: pix2rem(90px);
    padding-right: pix2rem(90px);
  }
}

.c-navmenu__top {
  padding: pix2rem(10px) 0;
  text-align: right;
}

.c-navmenu__close {
  display: inline-block;
}

.c-navmenu__content {
  padding-top: 10vh;
  box-sizing: border-box;
  max-height: 100vh;
  text-align: right;
}

.c-navmenu.is-active {
  transform: translate3d(0, 0, 0);
}

.c-mainnav__link{
  font-size: pix2rem(18px);
  font-weight: 300;
  line-height: div(24, 18);
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: inline-block;

  @include mq(medium){
    font-size: pix2rem(48px);
    line-height: div(64 , 48);
  }

  @include mq(large){
    font-size: pix2rem(72px);
    line-height: div(96 , 72);
  }

  &--hightlighted{
    font-weight: 500;
    color: rgba($color-white, 0.25);
    pointer-events: none;
  }
}