/*.news-list{
  //width: 100%;

  & > li:not(:last-child){
    margin-bottom: pix2rem(6px);
  }
}

.news-item{
  width: 100%;
  //height: 95px; => avec "intro"
  height: 60px;
  background-color: $color-brand-lighter;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //overflow: hidden;
}

.news-container{
  padding: pix2rem(12px) 0;
  box-sizing: border-box;
  margin-left: 11.71875vw;
  margin-right: pix2rem(24px);
}

.news-date{
  font-size: pix2rem(11px);
  font-weight: 300;
  font-style: normal;
  line-height: div(12, 11);
  margin-bottom: pix2rem(6px);
}

.news-thumb{
  width: 43.125vw;
  object-fit: cover;
}
*/

.c-news-list__intro{
  margin-bottom: pix2rem(36px);
  width: 100%;
}
