.c-photosgrid {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 24px;

  @include mq(medium){
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

.c-photosgrid__item--portrait {
  grid-row: span 2;
}

.c-photosgrid__item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}