.splash__maintitle{
  position: relative;
  margin-bottom: pix2rem(72px);

  &::after{
    position: absolute;
    content: "";
    width: 42px;
    bottom: -36px;
    left: calc(50% - (42px/2));
    height: 2px;
    background-color: $color-white;

    opacity: 0.5;

    @include mq(medium){
      left: calc(50% - (84px/2));
      width: pix2rem(84px);
      bottom: -12px;
    }
  }

  @include mq(medium){
    margin-bottom: pix2rem(30px);
  }
}

.splash__subtitle{
  margin-bottom: pix2rem(6px);
}

.splash__nav{
  display: block;
  width: 48px;
  height: 48px;
  margin: pix2rem(96px) auto 0;
}

.splash-container{
  margin-top: pix2rem(114px);

  @include mq(medium){
    margin-top: pix2rem(270px);
  }
}