.c-h1{
  font-family: $fontstack-main;
  font-size: pix2rem(48px);
  font-weight: 300;
  font-style: normal;
  line-height: div(48, 48);

  opacity: 1;

  @include mq(medium){
    font-size: pix2rem(72px);
    line-height: div(72, 72);
  }
}

.c-h2{
  font-family: $fontstack-main;
  font-size: pix2rem(24px);
  font-weight: 400;
  font-style: normal;
  line-height: div(24, 24);

  margin-top: pix2rem(48px);
  margin-bottom: pix2rem(30px);
  opacity: 1;

  @include mq(medium){
    margin-top: pix2rem(18px);
  }
}

.c-h3{
  font-family: $fontstack-main;
  font-size: pix2rem(18px);
  font-weight: 500;
  font-style: normal;
  line-height: div(24, 18);
  opacity: 1;

  @include mq(medium){
    font-size: pix2rem(36px);
    line-height: div(42, 36);
  }
}

.c-h-news{
  font-family: $fontstack-main;
  font-size: pix2rem(18px);
  font-weight: 500;
  font-style: normal;
  line-height: div(24, 18);
  margin-bottom: pix2rem(24px);
  opacity: 1;

  &--preview{
    font-size: pix2rem(14px);
    font-weight: 500;
    font-style: normal;
    line-height: div(18, 14);

    margin-bottom: pix2rem(12px);
  }
}

.c-h-gallerymodel{
  font-family: $fontstack-main;
  font-size: pix2rem(21px);
  font-weight: 500;
  font-style: normal;
  line-height: div(24, 21);
  opacity: 1;
}