.welcome-{
  &logo{
    width: pix2rem(60px);
    margin-bottom: pix2rem(30px);
  }

  &intro{
    opacity: 1;
  }

  &nav{
    margin-top: pix2rem(54px);

    &> li:not(:last-child){
      margin-bottom: pix2rem(36px);
    }
  }

  &navlink{
    display: block;
    width: 100%;
    padding: pix2rem(12px) 0;
    box-sizing: border-box;
    margin: 0 auto;

    background-color: $color-brand-lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    transition: all ease-out 0.2s;

    &:hover{
      border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    }
  }
}