.welcome-{
  &logo{
    display: block;
    width: pix2rem(60px);
    margin-top: pix2rem(42px);
    margin-right: auto;
    margin-bottom: pix2rem(42px);
    margin-left: auto;

    @include mq(medium){
      margin-top: pix2rem(120px);
      margin-bottom: pix2rem(60px);
      width: pix2rem(150px);
    }
  }

  &intro{
    opacity: 1;
  }

  &nav{
    margin-top: pix2rem(42px);
    max-width: pix2rem(228px);
    margin-left: auto;
    margin-right: auto;

    &> li:not(:last-child){
      margin-bottom: pix2rem(18px);
    }

    @include mq(medium){
      margin-top: pix2rem(120px);
    }
  }

  &navlink{
    display: block;
    width: 100%;
    padding: pix2rem(12px) 0;
    box-sizing: border-box;

    background-color: $color-brand-lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    transition: all ease-out 0.2s;

    &:hover{
      border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    }
  }
}