{% set containerClass = "l-container"  %}

<!DOCTYPE html>
<html lang="en">

{% include "partials/head.njk" %}

<body class="l-split-layout">

    {% include "partials/siteheader.njk" %}

    {% block content %}{% endblock %}

    {% include "partials/sitefooter.njk" %}
    <script src="/assets/js/bundle.js"></script>
</body>
</html>