<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ htmlTitle ~ " - " if htmlTitle }}{{ site.title }}</title>
    <meta type="description" content="{{ htmlDesc if htmlDesc else site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="l-split-layout">
    {% include "partials/siteheader.njk" %}

    {% block content %}{% endblock %}

    {% include "partials/sitefooter.njk" %}
    <script src="/assets/js/bundle.js"></script>
</body>
</html>