{% extends "layouts/base_less.njk" %}

{% set htmlTitle = title %}
{% set htmlDesc = title %}

{% set activNavElement = "galleries" %}

{% block header %}
    {% include "partials/siteheader.njk" %}
{% endblock %}

{% block content %}
    <main>
        <div class="">
            <h1>{{ title }}</h1>
            {{ content | safe }}

            {% for item in images %}
                {% if loop.first %}
                    <ul class="c-photosgrid">
                {% endif %}
                <li class="c-photosgrid__item  {{ "c-photosgrid__item--large" if item.format == "portrait" }}">
                    <img src="/assets/img/galleries/_600xauto/{{ item.file }}"
                         srcset="/assets/img/galleries/_600xauto/{{ item.file }} 600w,
                             /assets/img/galleries/_1024xauto/{{ item.file }} 1024w,
                             /assets/img/galleries/{{ item.file }} 1200w"
                         sizes="800px"
                         class="o-fluidimage"
                         alt="">
                </li>
                {% if loop.last %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block footer %}
    {% include "partials/sitefooter.njk" %}
{% endblock %}
