---
permalink: "./a-propos/index.html"
---

{# layouts to extend #}
{% extends "layouts/base.njk" %}

{% set activNavElement = "about" %}

{% block content %}
<div>
    <div>
        <img src="../assets/img/page_banners/banner.jpg" alt="Site-banner">
    </div>

    machin
</div>
{% endblock %}