---
permalink: "./accueil/index.html"
---

{# layouts to extend #}
{% extends "layouts/base_less.njk" %}

{% set activNavElement = "home" %}

{% block header %}
    <div class="l-container">
        <img class="welcome-logo" src="../assets/img/logo.svg" alt="Thomas photography logo">
    </div>
{% endblock %}

{% block content %}

    {% include "partials/sitebanner.njk" %}

    <main>
        <div class="c-sitecontent">
            <div class="l-container centered-text">
                <h2 class="c-h2">Accueil</h2>
                <p class="welcome-intro text-intro">Choisissez une rubrique qui vous intéresse et laissez vous emporter par mon univers</p>

                <nav>
                    {% for navitem in nav %}
                        {% if loop.first %}
                            <ul class="welcome-nav">
                        {% endif %}
                            <li>
                                <a class="welcome-navlink" href="{{ navitem.url }}">{{ navitem.label }}</a>
                            </li>
                        {% if loop.last %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </nav>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}

{% endblock %}