---
pagination:
    data: collections.galleries
    size: 12
    alias: galleries
permalink: "./galeries/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---

{# import macros #}
{% from '../macros/pagination.njk' import paginationNav %}

{# layouts extend #}
{% extends "layouts/base.njk" %}

{# set variables #}
{% set htmlTitle = "Gallerie d'images" %}
{% set htmlDesc = "Découvrez les galleries et différents shooting réalisés par Thomas Finet" %}
{% set htmlUrl = "/galeries/" %}
{% set activNavElement = "galleries" %}

{% block content %}

    {% include "partials/sitebanner.njk" %}

    <main>
        <div class="c-sitecontent">
            <div class="l-container">
                <h2 class="c-h2 c-galleries__main-title">Galeries</h2>
                {{ paginationNav(pagination, page.url, 'bottom') }}

                {% for item in galleries %}
                {% if loop.first %}
                    <ul class="c-galleries__list">
                {% endif %}
                    <li>
                        <article>
                            <a class="" href="{{ item.url }}">
                                <div class="o-scaling-image round-border--5">
                                    <img class="o-fluidimage" src="/assets/img/galleries/_600xauto/{{ item.data.coverImage }}" alt="{{ item
                                    .data.title }}">
                                </div>
                                <h2 class="c-galleries__gallery-title">{{ item.data.title }}</h2>
                            </a>
                            <div class="c-galleries__gallery-intro">{{ item.templateContent | safe }}</div>
                        </article>
                    </li>
                {% if loop.last %}
                    </ul>
                {% endif %}
                {% endfor %}

                {{ paginationNav(pagination, page.url, 'top') }}
            </div>
        </div>
    </main>
{% endblock %}