---
permalink: "./index.html"
---

{# layouts to extend #}
{% extends "layouts/base_less.njk" %}

{% block content %}
    <main class="l-page-container l-page-container--veryHighMargin centered-text widthConstrain">
        <h1 class="c-h1 splash__maintitle centered-text">Thomas Finet</h1>
        <h3 class="c-h3 splash__subtitle ">Photographe</h3>
        <p class="text-intro ">Contraste, émotion et lumière. </p>
        <a class="splash__nav" href="/accueil/index.html"><img class="o-fluidimage" src="/assets/img/nav_arrow.svg" alt="navigation arrow"></a>
    </main>
{% endblock %}