---
permalink: "./actualites/index.html"
---

{# layouts to extend #}
{% extends "layouts/base.njk" %}

{# set variables #}
{% set htmlTitle = "Dernières actualités" %}
{% set htmlDesc = "Voici les dernières actualités blablabla" %}
{% set activNavElement = "news" %}

{% block content %}
    <main>

        {% include "partials/sitebanner.njk" %}

        <div class="c-sitecontent">
            <div class="l-container">
                <h2 class="c-h2">Actualités</h2>
                <p class="c-page-intro">Intro Lorem ipsum dolor sit amet, consectetulacus sodales. Vestibulum in
                    alielit. Praesent dictum fermentum risus, non pellentesque urna sodales vitae. Curabitur pretium
                    tellus ut ex maximus tristique. Praesent congue varius ultricies. Vestibulum rhoncus metus mauris, a
                    consectetur tellus venenatis quis.</p>

                {% for news in collections.news %}
                    {% if loop.first %}
                        <ul class="c-news-list">
                    {% endif %}
                    <li>
                        <article class="c-news-card">
                            <a class="c-news-card__link" href="{{ news.url }}">
                                <div class="c-news-card__img-container">
                                    <div class="o-scaling-image c-news-card__img">
                                        <img src="/assets/img/news_illu/_600xauto/{{ news.data.image }}"
                                             srcset="/assets/img/news_illu/_600xauto/{{ news.data.image }} 600w,
                                                 /assets/img/news_illu/_1024xauto/{{ news.data.image }} 1024w,
                                                 /assets/img/news_illu/{{ news.data.image }} 1200w"
                                             sizes="800px"
                                             class="o-fluidimage"
                                             alt="{{ news.data.title }}-img">
                                    </div>
                                </div>
                                <p class="c-news-card__date text-news-date">{{ news.date | dateFormat("DD / MM / YYYY") }}</p>
                                <h3 class="text-news-title c-news-card__title">{{ news.data.title }}</h3>
                            </a>
                        </article>
                    </li>
                    {% if loop.last %}</ul>{% endif %}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}