---
permalink: "./actualites/index.html"
---

{# layouts to extend #}
{% extends "layouts/base.njk" %}

{# set variables #}
{% set htmlTitle = "Dernières actualités" %}
{% set htmlDesc = "Voici les dernières actualités blablabla" %}
{% set activNavElement = "news" %}

{% block content %}
    <main class="c-sitecontent">
        <div class="c-sitebanner">
            <img class="c-sitebanner__img" src="/assets/img/page_banners/banner.jpg" alt="site- banner">
        </div>

        <div class="l-container">
            <h2 class="c-h2">Actualités</h2>
            <p class="c-news-list__intro">Intro Lorem ipsum dolor sit amet, consectetulacus sodales. Vestibulum in alielit. Praesent dictum fermentum risus, non pellentesque urna sodales vitae. Curabitur pretium tellus ut ex maximus tristique. Praesent congue varius ultricies. Vestibulum rhoncus metus mauris, a consectetur tellus venenatis quis.</p>

            {% for news in collections.news %}
                {% if loop.first %}
                    <ul class="c-news-card__list">
                {% endif %}
                <li>
                    <a class="c-news-card" href="{{ news.url }}">
                        <article class="">
                            <div class="c-news-card__img-container">
                                <img class="c-news-card__img" src="/assets/img/page_banners/{{ news.data.image }}" alt="{{ news.data.title }}">
                            </div>
                            <p class="c-news-card__date text-news-date">{{ news.date | dateFormat("DD / MM / YYYY") }}</p>
                            <h3 class="text-news-title c-news-card__title">{{ news.data.title }}</h3>
                        </article>
                    </a>
                </li>
                {% if loop.last %}</ul>{% endif %}
            {% endfor %}
        </div>
    </main>
{% endblock %}