.l-page-container{
  max-width: 71.25%;
  margin-left: auto;
  margin-right: auto;

  &--veryHighMargin{
    margin-top: pix2rem(144px);
    min-height: calc(100vh - 144px);
  }

  &--highMargin{
    margin-top: pix2rem(60px);
    min-height: calc(100vh - 60px);
  }

  &--lowMargin{
    margin-top: pix2rem(30px);
    min-height: calc(100vh - 30px);
  }
}