---
permalink: feed.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <language>fr</language>
    <title>{{ site.title }} - News Feed</title>
    <description>{{ site.description }}</description>
    <link>{{ site.baseUrl }}</link>
    <category>Photographie</category>
    <copyright>{{ site.buildDate | dateFormat("YYYY") }} - {{ site.author }}</copyright>
    <image>
      <url>{{site.baseUrl + '/assets/img/page_banners/_600xauto/meta_banner.jpg'}}</url>
      <title>Thomas photography banner</title>
      <link>{{ site.baseUrl }}</link>
    </image>
    <atom:link href="{{ site.baseUrl }}/feed.xml" rel="self" type="application/rss+xml" />
    <pubDate>{{ site.buildTime | dateFormat("ddd, D MMMM YYYY HH:mm:ss ZZ") }}</pubDate>
    <lastBuildDate>{{ site.buildTime | dateFormat("ddd, D MMMM YYYY HH:mm:ss ZZ") }}</lastBuildDate>
    <generator>Eleventy</generator>
    {% for news in collections.news | limit(10) %}
        {% if news.data.published %}
            <item>
                <title>{{ news.data.title }}</title>
                <link>{{ site.baseUrl }}{{ news.url }}</link>
                <pubDate>{{ news.date | dateFormat("ddd, D MMMM YYYY HH:mm:ss ZZ") }}</pubDate>
                {% for tag in news.data.tags %}
                <category><![CDATA[{{tag}}]]></category>
                {% endfor %}
                <guid isPermaLink="true">{{ site.baseUrl }}{{ news.url }}</guid>
                <description><![CDATA[
                  <img src="{{site.baseUrl + '/assets/img/news_illu/_600xauto/' + news.data.image}}"
                  <p>{{ news.data.desc }}</p>
                  <p>{{ news.templateContent | safe }}</p>
                  <p><a href="{{news.data.externalLink}}">Voir les photos</a></p>
                ]]></description>
                <author>thomasphotofficiel@gmail.com‎ (Thomas Finet)</author>
            </item>
        {% endif %}
    {% endfor %}
  </channel>
</rss>