.o-scaling-image{
  width: 100%;
  height: 100%;
  overflow: hidden;

  &> img{
    transition: all 0.3s ease-in-out;

    &:hover{
      transform: scale3d(1.1, 1.1, 1);
    }
  }

  &>picture>img{
    transition: all 0.3s ease-in-out;

    &:hover{
      transform: scale3d(1.1, 1.1, 1);
    }
  }
}