<head>
    <meta charset="UTF-8">
    <title>{{ htmlTitle ~ " - " if htmlTitle }}{{ site.title }}</title>
    <meta name="description" content="{{ htmlDesc if htmlDesc else site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ htmlTitle ~ " - " if htmlTitle }}{{ site.title }}">
    <meta property="og:url" content="{{ site.baseUrl + htmlUrl if htmlTitle else site.baseUrl }}">
    <meta property="og:image" content="{{ site.baseUrl + htmlImg if htmlImg else site.baseUrl + '/assets/img/page_banners/meta_banner.jpg' }}">
    <meta property="og:description" content="{{ htmlDesc if htmlDesc else site.description }}">
    <link rel="alternate" href="/feed.xml" title="Thomas photography news feed" type="application/atom+xml">
    <link rel="shortcut icon" href="/assets/img/favicon.ico"/>
    {# <link rel="preload" href="/assets/fonts/" as="font"> #}
    {# <link rel="preload" href="/assets/css/main.min.css" as="style"> #}
    <link rel="stylesheet" href="/assets/css/main.min.css">
</head>