<nav>
    {% for navitem in nav %}
        {% if loop.first %}
            <ul>
        {% endif %}
            <li style="{{ "font-weight: 600" if activNavElement == navitem.id }}">
                <a href="{{ navitem.url }}">{{ navitem.label }}</a>
            </li>
        {% if loop.last %}
            </ul>
        {% endif %}
    {% endfor %}
</nav>