
    {% for navitem in nav %}
        {% if loop.first %}
            <ul class="c-sitefooter__nav">
        {% endif %}
            <li>
                <a href="{{ navitem.url }}">{{ navitem.label }}</a>
            </li>
        {% if loop.last %}
            </ul>
        {% endif %}
    {% endfor %}
