<div class="c-navmenu  js-navmenu">
    <p class="c-navmenu__top"><button class="c-navmenu__close  js-toggle-menu">close</button></p>
    <nav class="c-navmenu__content">
        <ul class="c-mainnav">
            <li class="c-mainnav__item"><a class="c-mainnav__link" href="#">Actualités</a></li>
            <li class="c-mainnav__item"><a class="c-mainnav__link" href="#">A propos</a></li>
            <li class="c-mainnav__item"><a class="c-mainnav__link" href="#">Galeries</a></li>
        </ul>
    </nav>
</div>