<footer class="c-sitefooter" id="footer-anchor">
    <div class="{{ containerClass }} l-footer-grid">
        <div class="l-footer-grid-copyright">
            <p>&copy; {{ site.buildDate | dateFormat("YYYY") }} - {{ site.author }}</p>
        </div>
        <div class="l-footer-grid-nav">
            {% include "partials/mainnav.njk" %}
        </div>
        <div class="l-footer-grid-reseau">
            {% for el in reseau %}
                {% if loop.first %} <ul class="c-contact-footer"> {% endif %}
                <li><a class="c-contact-footer__link" href="{{ el.url }}"><img class="o-fluidimage" src="/assets/img/{{ el.image }}" alt="{{ el
                        .name }} : {{ el.identifient }}"></a></li>
                {% if loop.last %} </ul> {% endif %}
            {% endfor %}
        </div>
    </div>
</footer>