<!--{% include "partials/mainnav.njk" %}-->

<header>
    <div class="l-container c-siteheader">
        <a class="c-nav__logo" href="/accueil/index.html"><img class="o-fluidimage" src="/assets/img/logo.svg" alt="logo"></a>
        <a class="c-nav__hamburger" href="#"><img class="o-fluidimage" src="/assets/img/hamburger-toggle.svg" alt="nav-toggle"></a>
    </div>
</header>